* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: 'Caveat', cursive;
  color: #f9a337;
  font-size: 32px;
}

.wrapper {
  text-align: center;
}

.block {
}
.bg__page {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: url(/img/test_p1.jpg) no-repeat;
  background-size: contain;
  background-attachment: fixed;

  transition-duration: 1s;
}

.page1__text {
  font-weight: 400;
}

#showScroll {
  position: fixed;
  left: 0;
  top: 0;
}
